{{ block title }}
    Survey Page {{ player.page_num }} of {{ number_of_pages }}
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <link rel="stylesheet" href="{{ static 'survey/css/sur_common.css' }}">

    <div class="layout-box">
        <div class="main-block">
        <ul>
            <li>
            {{ for f in form }}
            <table>
                <tr><td colspan="12">{{ f.label }}</td></tr>
                <tr>
                    {{ for choice in f }}
                        <td>
                            {{ if choice._value == '-1' }}
                                <div>N/A</div>
                            {{ else }}
                                <div>{{choice.label}}</div>
                            {{ endif }}
                            <div>{{ choice }}</div>
                        </td>
                    {{ endfor }}
                </tr>
            </table>
            {{ endfor }}
            </li>
        </ul>
        </div>
        <div class="bottom-row" >
            <div class="next-button-div">
            {{ next_button }}
            </div>
        </div>
    </div>
{{ endblock }}