{{ block title }}
    Thank You for Your Selection
{{ endblock }}

{{ block content }}
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <link rel="stylesheet" href="{{ static 'prescreen/css/prescreen.css' }}">

    <p>Thank you for your choice.  You have indicated that you will be available during the following timeslots.</p>
    <p>If you are selected to participate in a session, we will send you
    an invitation through
    {{ if is_prolific }}
    <em>prolific.co</em>
    {{ else }}
    <em>Mturk</em>
    {{ endif }}.
    </p>
    {{ if is_prolific }}
        <p>We recommend that you enable email notifications in <em>prolific</em> to receive word of the
            experiment as soon as possible.</p>
    {{ endif }}
    <ul>
        {{ for s in slots }}
            <li>
                <span class="label"> {{ s.to_date }} <span class="r_just"> {{ s.to_time }} to {{ s.to_end_time }}</span></span>
            </li>
        {{ endfor }}
    </ul>

    {{ if is_prolific }}
        <p style="font-size: 1.5em;">Click <a href="{{ prolific_completion_url }}">here</a> to complete the survey.</p>
    {{ else }}
        <p>Please copy the following code and paste into the HIT page on Amazon Mturk to complete the HIT.</p>
        <p style="font-size: 1.5em"><b>Completion Code:&nbsp; &nbsp; {{ participant.code }}</b></p>
    {{ endif }}

{{ endblock }}


