{{ block title }}
    Welcome to the  CalTech Market Experiment
{{ endblock }}
{{ block content }}
<p>Participants are needed for a Caltech Economics research study: IRB-0253</p>

<p>
This research studies how market institutions affect asset prices.
You may qualify for this research if you are aged 18 or older, and be able to read and comprehend the english language.
This study will involve making interactive decisions on a computer, completing a survey, and will take around 90 minutes to complete.
</p>

<p>
    This is a brief survey to gauge availability for the experiment.  On the next screen, please indicate
    when you can be available to participate in the experiment.  We will invite participants to the study through
    {{ if is_prolific }}
    <em>prolific.co</em>
    {{ else }}
    <em>Mturk</em>
    {{ endif }}
    based on the results of the survey.
    You will be paid {{ session.participation_fee }} today for providing your availability.
</p>

<p>Participants in the market experiment will receive</p>
<ul>
    {{ if is_pilot }}
    <li>$12 as compensation for your time,</li>
  {{ else }}
    <li>$12 as compensation for your time,</li>
    {{ endif }}
    <li>a possible additional payment depending on your choices in the experiment.</li>
</ul>

<p> Please click 'Next' to continue to the pre-screening survey.  Thank you for your interest.</p>

    {{ next_button }}

{{ endblock }}
