{{ block title }}
    Availability
{{ endblock }}


{{ block content }}
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <link rel="stylesheet" href="{{ static 'prescreen/css/prescreen.css' }}">

    <p>Please select all timeslots for which you will be available to participate.
        If we decide to run an experimental session during a timeslot that you have chosen, we will send you
    and invitation through
            {{ if is_prolific }}
    <em>prolific.co</em>
    {{ else }}
    <em>Mturk</em>
    {{ endif }}.
        Click "Next" to confirm your choices.</p>
    <p> All times are in Eastern Standard Time please plan accordingly.</p>
    <ul>
    {{ for f in form }}
        <li>
        {{ f }}  <span class="label"> {{ f | d }} <span class="r_just"> {{ f | t }} to
            {{ if exp_t == 1 }}
                {{ f | te1 }}
            {{ else }}
                {{ f | te2 }}
            {{ endif }}
            EST</span></span>
        </li>
    {{ endfor }}
    </ul>

    {{ next_button }}
{{ endblock }}


