# oTree-may-overwrite-this-file
# IF YOU MODIFY THIS FILE, remove this comment.
# otherwise, oTree will automatically overwrite it.
otree
psycopg2>=2.8.4
pandas
numpy
SQLAlchemy~=1.3.22
pdflatex~=0.1.3
Jinja2~=2.11.3
requests
git+https://github.com/rossspoon/call_market_price
websockets