
.boxed_area {
    border: 3px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

.practice-bg .boxed_area{
/*   background: repeating-linear-gradient(
      -45deg,
      #ddd,
      #ddd 2px,
      #eee 2px,
      #eee 40px
  );
  */
  background-color: #fafaff;
}

.box-header {
    font-weight:600;
    font-size: 1.5em;

    color: #0d6efd;
}

.chart-history-area {
    width:100%;
}
.chart-volume-area{
    width:100%;
}

.vitals ul {
    display: inline;
    list-style-type: none;
}
.vitals li {
    float: left;
    width: 24%;
    text-align: center;
    font-size: 1.25em;
}

#timer_box {
    margin-top: -9px;
}
#timer_box .alert p {
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.stat-value{
    position: relative;
    font-weight: 500;
}

/* Order List Styles*/
#order-list{
    width: 95%;
    margin: auto;
}

#order-list td{
    padding-top: 12px;
}

#button-col {
    width: 50px;
}
.details-col {
    width: 45%;
    text-align: center;
}
.notes-col {
    text-align: center;
}
.full-col {
    position: relative;
    text-align: center;
    width: 25%;
}

.type-col {
    width: 30px;
}
.quant-col {
    width: 30px;
}
.shares-at-col {}
.price-col {
    width: 70px;
}

.order-list-item{
    font-size: 1.2em;
}
.order-list-item:not(:last-child) td:not(:first-child){
    border-bottom: 2px dotted lightgray;
    padding-bottom: 13px;
}

.order-details{
    display: inline-block;
    position: relative;
    margin-left: 3px;
}

.lpad {
    margin-left: 50px;
}

.neg-val {
    color: tomato;
}

.round-pop-up{
    z-index: 20;
    font-size: 18px;
    font-weight: 350;
    background-color: lightyellow;
    color: #559;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #555599;
    position: absolute;

    width: 375px;
    margin-left: 40%;
    margin-top: 20%;
    left: 0;
    top: 0;

    animation-name: tt-hover;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.round-pop-up div{
    margin: 10px;
}

#gray-out{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.practice-bg {
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}