.layout-box {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-template-rows: 50px auto;
    gap: 10px;
}
.vitals{
    grid-column: 1/3;
    grid-row: 1;
    padding-top: 10px;
    font-weight: 600;
}

.chart-box{
    grid-column: 1;
    grid-row: 2;
}

.round-result-box {
    grid-column: 2;
    grid-row: 2;
    padding: 10px 30px;
}

.results-ul {
    font-size: 1.5em;
}
.results-ul li {
    margin: 10px;
}

.tight-list li {
    margin: 2px;
}
.results-layout-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 10px;
    height: 100%;
}

.results-div {

}
.next-button-div {
    position: relative;
}
.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.forecast-error {
    color: gray;
    font-size: .7em;
}

table {
    width: 80%;
    margin: auto auto 30px;
}

.larger-font {
    font-size: 1.6em;
}

.vitals div {
    width: 70%;
    margin: auto;
}