#forcast-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 1.0em;
    margin: auto;
    height: 100%;
}

.all-fcast {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.fcast-box {
  display: grid;
  grid-template-columns: 85% auto;
  font-size: 1.3em;
}

.slidecontainer {
  position: relative;
  grid-column: 1;
}

.forecast-tgt {
  font-size: 1.3em;
  margin-left: 10px;
  grid-column: 2;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.dl_labs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*writing-mode: vertical-lr;*/
  width: 100%;

  padding: 0;
  font-size: .6em;
  font-weight: bold;
}

.dl_labs div{
  width: 4ch;
  text-align: center;
}

.dl_ticks {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
  font-size: .8em;
  font-weight: bold;
}

