/* Main Grid layout */
.layout-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 250px;
    width: 75%;
    margin: auto;
}

#safe_card {
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
}

#risky_card{
    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;
}



.elic-card {
    border: 10px solid #0d6efd;
    border-radius: 15px;
    padding: 5px;
    background-color: #f5f5f5;
    color: #555;

    text-align: center;
    font-size: 3em;
}

.elic-card:hover {
    border-color: #0051e0;
    background-color: white;
    color: black;
    cursor: pointer;
}

.elic-clicked {
    border-color: forestgreen;
    background-color: white;
    color: black;
}

.elic-clicked:hover {
    border-color: darkgreen;
    background-color: white;
    color: black;
    cursor: pointer;
}

.elic-choice div {
    margin-top: 40px;
}

.elic-left {
    text-align: left;
    padding-left: 30px;
}
.elic-right {
    text-align: right;
    padding-right: 30px;
}