{{ block title }}Pre-experimental Questions{{ endblock }}

{{ block content }}
<p>The following is a pre-experimental questionnaire.</p>
<p>The answers you will provide herein will solely be used in academic research.</p>
<p>
    After filling it in, you will perform the task in the actual experiment and then
    fill in the post-experimental questionnaire.
</p>
<p>
    It is very important to be as honest as possible and to treat each question
    rigorously, as your participation will directly impact the subsequent research study.
</p>
<p>
    The answers to this questionnaire are strictly confidential. Most of the questions
    are mandatory — you can distinguish them through the red asterisk (*) sign.
</p>

{{ next_button }}
{{ endblock }}
