
/* Layout */
.layout-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 10px;
}
.top-row{
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
    font-size: 1.5em;
}

.main-block {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    font-size: 1.5em;
}

li {
    font-style: italic;
    font-size: .8em;
}

.bottom-row{
    grid-column: 1;
    grid-row: 3;
    position: relative;
    font-size: 1.5em;

}

.next-button-div {
    position: absolute;
    right: 30px;
}

.top-row-img {
    height: 100px;
}
