{{ block title }}
    Market Summary
{{ endblock }}

{{ block content }}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{{ static 'rounds/js/price_history.js' }}"></script>
<script src="{{ static 'rounds/js/biotrigger.js' }}"></script>
<script>
$(window).on('load', function () {
    
    //Add practice page background
    if (js_vars.is_practice) {
        $('body').addClass('practice-bg');
        $('.otree-title').addClass('white');
    }
});
</script>

<link rel="stylesheet" href="{{ static 'css/global.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/common.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/final_results_page.css' }}">

<div class="layout-box">
        <div class="boxed_area vitals">
            {{ if is_practice }}
                <div class="larger-font">Practice earnings do not count toward your final payment.</div>           

            {{ else }}
                 <div class="larger-font">You have completed the market portion of this experiment.</div>           
            {{ endif}}

        </div>

        <div class="chart-box boxed_area">
            <p class="box-header"> Market History</p>
            <div class="chart-history-area">
                <canvas id="gr_price" />
            </div>
            <div class="chart-volume-area">
                <canvas id="gr_volume" />
            </div>
        </div>

        <div class="round-result-box boxed_area">
        <div class="results-layout-box">
            <div>&nbsp;</div>
            <div class="results-div larger-font">
                {{ if is_practice }}
                <p> Summary of Practice Results</p>
                <table>
                <tr>
                    <td>Number of Shares of STOCK You Own: </td>
                    <td> {{ player.shares_result}}
                </tr>
                <tr>
                    <td>STOCK Trade-in Value:</td>
                    <td> <span class="red">{{ buy_back }}</span> per share</td>
                </tr>
                <tr>
                    <td>Total Trade-in Amount:</td>
                    <td>{{ buy_back_amt }}</td>
                </tr>
                </table>
                
                {{ else }}
                <p> Your final payment will be:</p>

             <table>
                <tr>
                    <td>Participant Code</td>
                    <td> {{ player.participant.label }}</td>
                </tr>
                 <tr>
                     <td>Participation Fee</td>
                     <td> {{ session.participation_fee }}</td>
                 </tr>
                <tr>
                    <td>Market Payment</td>
                    <td> {{ market_bonus }}</td>
                </tr>
                 <tr>
                    <td>Forecast Payment</td>
                    <td> {{ forecast_bonus }}</td>
                </tr>
                 <tr>
                    <td>Risk Task Payment</td>
                    <td> {{ risk_bonus }}</td>
                </tr>
                 <tr>
                    <td>Quiz Payment</td>
                    <td> {{ quiz_bonus }}</td>
                </tr>
                <tr>
                    {{ if is_online }}
                        <td class="bold-text">Total Payment</td>
                    {{ else }}
                        <!--<td class="bold-text">Total Payment (rounded)</td>-->
                        <td class="bold-text">Total Payment</td>
                    {{ endif }}
                    <td class="bold-text">{{ total_pay }}</td>
                </tr>
            </table>
            {{ endif }}
            </div>
            <div class="next-button-div">
                {{ if is_practice }}
                <p class="larger-font">Click Next to start the experiment:</p>

                {{ else }}
                <p class="larger-font">Click Next to take a brief survey:</p>
                {{ endif }}
                <div class="bottom-right">
                    {{ next_button }}
                </div>
            </div>
        </div>
        </div>
        
        {{ if is_practice }}
        <div class="shares-box boxed_area larger-font">
        <p>The market price in the last practice round was {{ market_price }}.</p>
        <p>  Concider whether you are willing to buy STOCK at this price concidering the trade-in amount after the last round.</p>
        </div>
        {{ endif }}
</div>
{{ endblock }}
