{{ block title }}
{{ endblock }}
{{ block content }}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>-->
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>#}
<script src="{{ static 'js/Chart.js' }}"></script>
<script src="{{ static 'rounds/js/price_history.js' }}"></script>
<script src="{{ static 'rounds/js/market_page.js' }}"></script>
<script src="{{ static 'rounds/js/move_timer.js' }}"></script>

<link rel="stylesheet" href="{{ static 'css/global.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/common.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/market_page.css' }}">

<div class="layout-box">
        <div class="vitals boxed_area">
            <ul>
                <li> <div id="timer_box"></div></li>
                <li> Period: {{ player.round_number }}
                <li> Number of Shares: <span class="{{ attn_cls }}">{{ shares}}</span>
                <li> Current Cash: <span class="{{ attn_cls }}">{{ cash }}</span>
            </ul>
        </div>

        <div class="chart-box boxed_area">
            <p class="box-header lpad">Market History</p>
            <div class="chart-history-area">
                <canvas id="gr_price" />
            </div>
            <div class="chart-volume-area">
                <canvas id="gr_volume" />
            </div>
        </div>

        <div class="order-form-box boxed_area">
            {{ if show_form == 'order' }}
                <div class="order-form">
                    <div class="form-cell"> {{ formfield 'type' label='' }} </div>
                    <div class="form-cell"> {{ formfield 'quantity' label='' }}  </div>
                    <div class="form-cell"> @ </div>
                    <div class="form-cell"> {{ formfield 'price' label=''}}  </div>
                    <div class="form-cell"><div id="submit-btn" class="btn btn-primary no-anim" tabindex="0">Submit</div></div>
                </div>
            {{ elif show_form == 'forecast' }}
                <div id="forcast-form" class="attention">
                    What do you think the market price will be this period?
                    <div class="ilb lpad">{{ formfield 'f0' label='' }}</div>
                    <div class="ilb">{{ next_button }}</div>
                </div>
            {{ elif show_form == 'results' }}
                <div class="results-form">
                    <div class="center">
                        Market Period Results
                        <div class="ilb lpad">{{ next_button }}</div>
                    </div>
                </div>
            {{ endif }}
        </div>
        
        <div class="orders-box boxed_area">
            <table id="order-list">
                <tr>
                    <th id="button-col">&nbsp;</th>
                    <th id="details-col" class="box-header details-col">Orders Submitted</th>
                    <th id="notes-col", class="box-header notes-col hidden">
                        <div class="tool-tip">Notes
                            <span class="tool-tip-text tt-left">
                                <p>Special actions taken with your orders.</p>
                                <ul>
                                    <li>Short sell orders may be limited if they can cause the market to be
                                         shorted beyond the limit.</li>
                                    <li>An entire short sell order can be canceled because of a shorting limit</li>
                                    <li>An automatic SELL order will cancel your BUY orders</li>
                                    <li>An automatic BUY order will cancel your SELL orders</li>
                                </ul>
                            </span>
                        </div>
                    </th>
                    <th id="fulfilled-col", class="box-header full-col hidden">
                        <div class="tool-tip">
                            Filled
                            <span class="tool-tip-text tt-left">
                                <p>The number of shares actually traded for this order.  This depends on
                                market conditions.  You can only buy shares if there is someone willing to sell
                                and vise versa.</p>
                            </span>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <div class="message-box" >

            {{ for msg in messages }}
                <div class="alert {{ msg.class_attr }}">
                    <div class="message">
                        {{ msg.msg }}
                    </div>
                </div>
            {{  endfor }}
        </div>

        <div class="stats-box boxed_area">
            <div>
                <table class="left-tab">
                    <tr>
                         <th colspan="2" class="box-header">Personal Stats</th>
                     </tr>
                    <tr>
                        <td>
                            <div class="tool-tip">Equity
                                <span class="tool-tip-text tt-right">
                                    <p> The value of your portfolio.
                                        It is the value of your STOCK at the current market price plus your CASH.</p>
                                    <p>It is OK for your equity to be negative, as long as you are still within the
                                        margin requirement.</p>
                                </span></div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just {{ attn_cls }}">{{ equity }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tool-tip">Debt
                                <span class="tool-tip-text tt-right">
                                    <p>The value of shorted STOCK or borrowed CASH.</p>
                                    <p>If you short STOCK, we consider the value of that STOCK as debt.</p>
                                </span>
                            </div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just {{ attn_cls }}">{{ debt }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tool-tip">Margin
                               <span class="tool-tip-text tt-right">
                                    <p>Equity divided by Debt.</p>
                                    <p>This is the ratio of your equity to your debt.  If this number gets
                                    below {{ marg_req_pct }} we will make a trade on your behalf to try to increase
                                    you margin.</p>
                                </span>
                            </div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just {{ attn_cls }}">{{ margin_pct }}</span></td>
                    </tr>
                    {{ if for_results }}
                    <tr>
                        <td><div class="tool-tip">Dividend Earned
                            <span class="tool-tip-text tt-right">
                                <p>The amount or dividend payments you earned or paid out this market period</p>
                            </span>
                        </div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ player.dividend_earned }}</span></td>
                    </tr>
                    <tr>
                        <td><div class="tool-tip">Interest Earned
                            <span class="tool-tip-text tt-right">
                                <p>The amount of interest you earned or paid out this market period</p>
                            </span>
                        </div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ player.interest_earned }}</span></td>
                    </tr>
                   <tr>
                        <td><div class="tool-tip">Forecast Bonus
                            <span class="tool-tip-text tt-right">
                                <p>The amount awarded to you for guessing the market price within in
                                {{ forecast_thold | cu }}</p>
                            </span>
                        </div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ player.forecast_reward }}</span></td>
                    </tr>


                    {{ endif }}
                </table>
            </div>
            <div class="right-stat-div">
                 <table>
                     <tr>
                         <th colspan="2" class="box-header">Market Stats</th>
                     </tr>
                     <tr>
                        <td>Market Price</td>
                         <td class="stat-value">&nbsp;<span class="r_just">{{ market_price | cu }}</span></td>
                    </tr>
                    <tr>
                        <td><div class="tool-tip">Float
                                <span class="tool-tip-text tt-right">
                                    The amount of shares available to trade in the market.
                                </span>
                            </div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ group.float }} shares</span></td>
                    </tr>
                    <tr>
                        <td><div class="tool-tip">Total Shorted
                            <span class="tool-tip-text tt-right">
                                <p>The amount of shares shorted by all traders in the market.</p>
                                {{ if float_ratio_cap }}
                                    <p>Short sells will be limited to ensure that no more than {{ group.float }} shares
                                        are shorted.</p>
                                {{ endif }}
                            </span></div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ short }} shares </span></td>
                    </tr>
                    <tr>
                        <td><div class="tool-tip">Interest Rate
                            <span class="tool-tip-text tt-right">
                                <p>Interest on CASH earned at the end of the market period.</p>
                                <p>If you have borrowed CASH, you will pay interest at this rate.</p>
                            </span>
                        </div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ interest_pct }}</span></td>
                    </tr>
                    <tr>
                        <td><div class="tool-tip">Dividends
                            <span class="tool-tip-text tt-right">
                                <p>The dividend paid out on STOCK.</p>
                                <p>Each share of stock that you own will earn either 0.40 or 1.00 points.
                                Each amount is equally likely.  If you have shorted STOCK then you will payout
                                that amount.</p>
                            </span>
                        </div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ dividends }}</span></td>
                    </tr>
                   <tr>
                        <td><div class="tool-tip">Stock Buy Back
                            <span class="tool-tip-text tt-right">
                                <p>After the last market period each share of STOCK that you own will be bought
                                back at this price ({{ buy_back }}).  If you have shorted stock, you will
                                pay out this amount for each share of STOCK that you have borrowed.</p>
                            </span>
                        </div></td>
                       <td class="stat-value">&nbsp;<span class="r_just">{{ buy_back }}</span></td>
                    </tr>
                </table>
            </div>
        </div>

</div>
{{ if show_next }}
    <div class="page_width">
        <div class="right-side">
            {{ next_button }}
        </div>
    </div>
{{ endif }}
{{ endblock }}
