{{ block title }}
    Market
{{ endblock }}
{{ block content }}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{{ static 'rounds/js/price_history.js' }}"></script>
<script src="{{ static 'rounds/js/market_page.js' }}"></script>
<script src="{{ static 'rounds/js/move_timer.js' }}"></script>

<link rel="stylesheet" href="{{ static 'css/global.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/common.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/market_page.css' }}">

<div class="layout-box">
        <div class="boxed_area vitals">
            <ul>
                <li> Participation Id: {{ player.participant.PART_ID }}</li>
                <li> Period: {{ player.round_number }}
                <li> Current Cash: {{ player.cash }}
                <li> Number of Shares: {{ player.shares}}
            </ul>
        </div>

        <div class="chart-box boxed_area">
            <p class="box-header"> Market History</p>
            <div class="chart-history-area">
                <canvas id="gr_price" />
            </div>
            <div class="chart-volume-area">
                <canvas id="gr_volume" />
            </div>
        </div>

        <div class="message-box" >
            <div id="timer_box"></div>
            {{ for msg in messages }}
                <div class="alert {{ msg.class_attr }}">
                    <p class = "message"> {{ msg.msg }}</p>
                </div>
            {{  endfor }}
        </div>

        <div class="order-form-box boxed_area">
            <div class="order-form">
                <div class="form-cell"> {{ formfield 'type' label='' }} </div>
                <div class="form-cell"> {{ formfield 'quantity' label='' }}  </div>
                <div class="form-cell"> @ </div>
                <div class="form-cell"> {{ formfield 'price' label=''}}  </div>
                <!--  <div class="form-cell"><button id="submit_btn" class="otree-btn-next btn btn-primary">Submit</button></div> -->
                <div class="form-cell"><div id="submit-btn" class="btn btn-primary" tabindex="0">Submit</div></div>
            </div>
        </div>
        
        <div class="orders-box boxed_area">
            <p class="box-header"> Your Outstanding Orders </p>
            <div id="order-list"/>
        </div>
        </div>
</div>
{{ if is_practice }}
    <div class="page_width">
        <div class="right-side">
            {{ next_button }}
        </div>
    </div>

{{ endif }}
{{ endblock }}
