{{ block title }}
{{ endblock }}
{{ block content }}
<link rel="stylesheet" href="{{ static 'css/global.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/common.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/risk_page.css' }}">

<script src="{{ static 'js/Chart_4.js' }}"></script>
<script src="{{ static 'js/chartjs-plugin-datalabels.min.js' }}"></script>
<script src="{{ static 'rounds/js/risk_page.js' }}"></script>
<script src="{{ static 'rounds/js/biotrigger.js' }}"></script>

<input type="hidden" name="risk" id="risk" />

<div class="layout-box">
    <div class="elic-card">
        <canvas id="safe_card" class="o70"></canvas>
    </div>

    <div class="elic-card">
        <canvas id="risk_card" class="o70"></canvas>
    </div>
</div>
{{ if show_next }}
    <div class="page_width">
        <div class="right-side">
            {{ next_button }}
        </div>
    </div>
{{ endif }}
{{ endblock }}
