{{ block title }}
    CASH and STOCK
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <div class="layout-box">
    <div class="main-block">
        <p>
            At the start of the experiment, you will be allocated an amount of CASH, in a fictitious currency we will
            call Experimental Currency Units, or ECU.  At the end of each round, you will earn interest on the CASH you
            hold at a rate of 5%.
        </p>

        <div class="example">
            <p>
                At the end of a round you hold 100 ECU in CASH.  You will earn 5 ECU in interest.
            </p>
        </div>
        <p>
            STOCK is the risky asset.  For each share that you own at the end of each round you will earn a dividend of
            either 0.4 ECU or 1.00 ECU.  Either dividend is equally likely.
        </p>

        <div class="example">
            At the end of a round you hold 10 shares of STOCK and the dividend is 1.00 ECU per share.
            You will earn a dividend payment of 10 ECU.
        </div>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}