{{ block title }}
    TRADING
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
    <p>
During each round, you will have the opportunity to place orders to BUY or SELL shares of STOCK. &nbsp;&nbsp; An order consists of the order type (BUY or SELL), the number of shares desired and the price at which you are willing to BUY or SELL.    </p>
        <div class="example">
            <p>BUY 4 shares at a price of 1800 points</p>
            <p>Or more compactly:</p>
            <p>BUY 4 @ 1800</p>
        </div>
<p>
A BUY order sets a maximum price you are willing to pay. &nbsp;&nbsp; That is, entering the above order indicates that you are willing to BUY 4 shares of the STOCK at a price of 1800 or below, but you will not be willing to BUY at a price greater than 1800.
</p>
<p>
A SELL order indicates a minimum price. &nbsp;&nbsp; So, entering “SELL 3 shares at a price of 2000” means that you are willing to SELL at any price 2000 or greater.
</p>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}