{{ block title }}
    BORROWING CASH
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">

        <p>In this experiment, you will be allowed to borrow CASH to purchase STOCK.
            If you submit a BUY order that would cost more CASH than you currently have, the system will lend you
            the funds to cover the cost of the purchase.
        </p>
        <div class="example">
        <p>You have 50.00 in CASH and enter the order (BUY 6 @ 10.00).
            This order will potentially cost you 60.00.  Leaving you with a CASH balance of -10.00.</p>
        </div>

        <p> If your CASH balance becomes negative, you will be charged 5% interest.
            To continue the above example, at the end of the market period, you will be charged
            10.00 * 5% = 0.20 in interest.  This will bring your CASH balance to -10.20.
        </p>
</p>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}