{{ block title }}
    SHORTING STOCK
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">

    <p>You will also be allowed to sell more stock than you own. 
        This is called short selling.  Typically, this is done when an investor believes that a stock is
        overpriced and will soon lose value.
        The investor will sell stock at the high price, and later buy it back at a lower price and pocket the
        difference.
    </p>
    <p>
        To short STOCK, create a SELL order for more shares than you own.  If you are able to sell all the
        shares in the order, your STOCK holdings will appear as a negative number.
    </p>

    <div class="example">
        <p>You own 4 shares of STOCK and issue a SELL order for 5 shares at some price.
            If you sell all shares, your STOCK position will be -1. </p>
    </div>
    <p>If your STOCK position becomes negative, you will have to pay out dividends.
        To continue the above example, suppose the dividend payment is 1.00 per share.
        You will then be charged 1.00.</p>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}