{{ block title }}
    MARKET RESTRICTIONS
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">

    <div class="layout-box">
    <div class="main-block">
        <p>During each market period, you will be allowed to create up to 6 orders.  You may make any combination of BUY or SELL orders.  The market will execute as many of your outstanding orders as possible.   Be aware, that this might cause either you CASH or STOCK holdings to go below zero.</p>


<div class="example">
    <p>You own 4 shares of STOCK and have created the following SELL orders:</p>
    <ul>
        <li>SELL 3 @ 2500</li>
        <li>SELL 2 @ 2000</li>
    </ul>
<p>Suppose the Market price at the end of that period is 2800 points.  You will potentially sell 5 shares of STOCK for a final position of -1 shares.  You will receive an alert during the market play if you outstanding SELL orders exceed the number of share you own.</p>
</div>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}