{{ block title }}
    MARKET PERIOD
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
    <p>A market period will last for {{ market_time }} seconds.   During this time, you will be able to create up to 6 orders
        (Either BUY or SELL).   At the end of the market period, all outstanding orders will be used to
        determine the market clearing price. &nbsp;&nbsp; This price will be chosen to maximize the number of shares traded.&nbsp;&nbsp;
        Once the market price is determined, the system will execute as many trades as possible at that price.
    </p>

    <p> Note that if there is more supply than demand then not every SELL order will be completed.
        Likewise, if there is more demand than supply, some BUY orders will not complete.
        Priority in completing orders will be given to the highest BUY price and the lowest SELL price among all
        the orders submitted.. &nbsp;&nbsp; </p>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}