{{ block title }}
    AUTOMATIC BUY-IN / SELL-OFF
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
    <p>
        Borrowing CASH and shorting STOCK can both be considered a type of debt.  You are borrowing something that
        you will have to pay back later.  The debt you take on is subject to a limit.  That limit depends on
        your CASH and STOCK holdings and the current market price.  If you incurr debt, your borrowing limit will
        be shown on the screen.
    </p>
        <p>If your debt exceeds your borrowing limit the system will submit an order automatically on your behalf
        to bring your debt back to within your limit.   If your debt comes from borrowing CASH, the system will attempt
            to SELL shares to raise CASH.   If your debt comes from shorting STOCK, the system will attempt
            to BUY shares.  The system will execute these trades regardless of your buy or sell limits.</p>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}