{{ block title }}
    INSOLVENCY
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">

    <p>If the value of your holdings (CASH and STOCK) becomes zero or less, you will be insolvent, and will
        not be able to trade in the market anymore.
        You will still receive your payment for participating, but you will be asked to wait until
        the experiment is finished before completing a final survey at the end.
    </p>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}