{{ block title }}
    END OF MARKET
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
        <p>The market will run for {{ num_rounds }} periods. &nbsp;&nbsp; Afterward you will be presented with a final
            summary page that will show your final holdings of CASH and STOCK and your final payment.</p>
        <p>In addition to you final amount of CASH, the experiment will pay out {{ fund_value }} points for each
            share of STOCK that you own. &nbsp;&nbsp; If you finish the market with a short position (negative shares),
            you will be charged {{ fund_value }} points per share.
        </p>
        <p>Your final amount of CASH will be converted to actual payment.&nbsp;&nbsp;
            You will be paid 1 US dollar for each {{ conversion }} points of CASH
            that you hold.</p>
        <p>Following the final summary page will be a short survey.</p>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}