{{ block title }}
    END OF EXPERIMENT
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
        <p>At the end of {{ num_rounds }} periods of trading, each unit of STOCK is automatically traded in
            for 14.00 CASH.  If you end the experiment with negative shares (a short position) 14.00
            CASH will be deducted from your CASH for every share short.  Additionally, any forecast rewards earned
            throughout the experiment will be included at this time.
        </p>
        <p>After that your experiment CASH units are converted to US dollars at a rate of 100 CASH = $1 US,
            to determine
            how much you will be paid at the end of the experiment.</p>

        <div class="example">
        <p>Suppose in a period you have 120 units of CASH and 5 units of STOCK, and the dividend
        is 0.40 per unit of stock. Then your new CASH amount would be a 5% increase times 120 (a gain of 6) and
        total dividends of 0.40 x 5 = 2. Your total CASH would therefore increase by 6 + 2 = 8 units.  Then your
        STOCK will be traded in for 14.00 CASH or 5 x 14.00 = 70.00.  Your resulting CASH will then be
            120 + 8 + 70 = 198.  That will get converted to $1.98 which will be rounded up to $2.00.</p>
        </div>

        <p>Notice:
        that keeping CASH will earn a return (5% per period) and using CASH to buy units of STOCK will also
        yield dividend earnings. If you are trying to earn the most money you might think about whether
            keeping CASH or buying STOCK creates more earnings.</p>

    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}