{{ block title }}
    PERIOD SUMMARY
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'instructions/css/forecast_page.css' }}">

    <div class="layout-box">
    <div class="main-block">
    <div class="side-by-side">
        <div class="sbs-left">
            <p>The trading period concludes with a summary.  It is here that you will learn:</p>
            <ul>
                <li>the new market price</li>
                <li>How many shares you bought or sold</li>
                <li>Dividend and interest earning</li>
                <li>Forecast results</li>
            </ul>

        <p>This page will advance to the next market period after 15 seconds,
            or you can click on the <span class="btn-look-alike">Next</span> button to advance the page.</p>

        </div>
        <div class="sbs-right">
            <img class="instr-img" src="{{ static 'instructions/img/period_summary_explode.png' }}"/>
        </div>
    </div>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}