{{ block title }}
   Welcome to the Market Experiment
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
    <p>
        This experiment is about economic decision-making in an experimental market.
        In addition to your ${{ part_fee_whole_num }} participation fee, you can earn an additional payment
        depending on your performance in the market
        {{ if has_bonus_cap }}
            (up to ${{ bonus_cap_whole_num }})
        {{ endif }}
        . &nbsp;&nbsp; Payments will be made to you at the
        end of the experiment. The experiment will consist of a series of {{ num_rounds }} trading periods in
        which you will have the opportunity to buy or sell shares a risky asset that we will refer to as STOCK.
    </p>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>


{{ endblock }}