{{ block title }}
   END OF INSTRUCTIONS
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="main-block">
        <p>
            Next, you will be allowed to play {{ num_practice_rounds }} practice rounds before participating in the market.
            You will play these rounds with computerized players, so you will not be interacting with others
            in the room.
        </p>
        {#
        <p>
            During the practice rounds, you will see a "Next" button on the Market page.  This give you a chance to
            advance the page when ever you are finished.  During the actual market experiment, there will not be
            a "Next" button on the Market page.
        </p>
        #}
        <p>Anything earned during these practice rounds will not count toward your final compensation.</p>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>

{{ endblock }}