{{ block title }}
    QUIZ
{{ endblock }}
{{ block content }}
    <link rel="stylesheet" href="{{ static 'instructions/css/ins_common.css' }}">
    <div class="layout-box">
    <div class="main-block">
    Before continuing, please answer the following questions.
        <ul>
        {{ for f in form }}
            <li class="quiz-question">{{ formfield_errors f.name }}{{ f.label }}{{ f }}</li>
        {{ endfor }}
        </ul>
    </div>
    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>
{{ endblock }}