{{ block title }}
{{ endblock }}
{{ block content }}

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>-->
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>#}
<script src="{{ static 'js/Chart.js' }}"></script>
<script src="{{ static 'rounds/js/price_history.js' }}"></script>
<script src="{{ static 'instructions/js/ins_pop_up.js' }}"></script>
<script src="{{ static 'rounds/js/move_timer.js' }}"></script>
{#<script src="{{ static 'rounds/js/set_tool_tip.js' }}"></script>#}

<link rel="stylesheet" href="{{ static 'css/global.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/common.css' }}">
<link rel="stylesheet" href="{{ static 'rounds/css/market_page.css' }}">
<link rel="stylesheet" href="{{ static 'instructions/css/ins_pop_up.css' }}">

<div class="layout-box">
        <div class="vitals boxed_area">
            <ul>
                <li>
                    <div id="timer_box">
                    <div class="otree-timer alert alert-warning">
                        <p>Time Left:
                            <span style="font-weight: bold">
                                <span id="the_time" class="pop-up-anchor otree-timer__time-left">
                                    {{ results_time_fmt }}
                                </span>
                            </span>
                        </p>
                    </div>
                    </div>
                </li>
                <li> Period: <span class="pop-up-anchor" id="periods">{{ round_num }}</span></li>
                <li> Number of Shares: <span class="pop-up-anchor" id="shares">6</span></li>
                <li> Current Cash: <span class="pop-up-anchor" id="cash">139.96 points</span></li>
            </ul>
        </div>

        <div class="chart-box boxed_area">
            <p id="history" class="box-header lpad pop-up-anchor">Market History</p>
            <div class="chart-history-area">
                <canvas id="gr_price" />
            </div>
            <div class="chart-volume-area">
                <canvas id="gr_volume" />
            </div>
        </div>

        <div class="order-form-box boxed_area">
            <div class="results-form">
                <div  class="large-font center">
                    Market Period Results
                    <div class="ilb lpad">
                    <p>
                    <div id="next_btn" class="pop-up-anchor btn btn-look-alike gray no-anim">Next</div>
                    </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="orders-box boxed_area">
            <table id="order-list">
                <tr>
                    <th id="button-col">&nbsp;</th>
                    <th id="details-col" class="box-header details-col">Orders Submitted</th>
                    <th id="notes-col", class="box-header notes-col">
                        <div id="tip_notes">Notes</div></th>
                    <th id="fulfilled-col", class="box-header full-col">
                        <div id="tip_fill">Filled</div></th>
                </tr>
                <tr id="order_7" class="order-list-item">
                    <td id="cancel_btn"  class="pop-up-anchor">&nbsp;</td>
                    <td id="order_details" class="pop-up-anchor">
                        <span class="order-details type-col">Buy</span>
                        <div class="order-details quant-col">&nbsp;<span class="r_just">4</span></div>
                        <span class="order-details shares-at-col">shares @</span>
                        <span class="order-details price-col">&nbsp;<span class="r_just">23.45</span></span>
                    </td>
                    <td class="notes-col">&nbsp;</td>
                    <td class="full-col">&nbsp;1 @ {{ 18.75|cu }}</td>
                </tr>
            </table>
        </div>

        <div id="messages" class="message-box pop-up-anchor"></div>

        <div class="stats-box boxed_area">
            <div>
                <table class="left-tab">
                    <tr>
                         <th colspan="2" class="box-header">Personal Stats</th>
                     </tr>
                    <tr>
                        <td>
                            <div id="stat_stock_value" class="pop-up-anchor">STOCK Value</div>
                        </td>
                        <td class="stat-value"><span class="r_just">112.50</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="stat_debt" class="pop-up-anchor">Debt</div></td>
                        <td class="stat-value"><span class="r_just">0</span></td>
                    </tr>
                    <tr>
                        <td>
                             <div id="stat_limit" class="pop-up-anchor">Limit</div>
                        </td>
                        <td class="stat-value">&nbsp;<span class="r_just ">N/A</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_div" class="pop-up-anchor">Dividend Earned</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">2.40 points</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_int" class="pop-up-anchor">Interest Earned</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">6.31 points</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_reward" class="pop-up-anchor">Forecast Payment</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">5.00 points</span></td>
                    </tr>
                </table>
            </div>
            <div class="right-stat-div">
                 <table>
                     <tr>
                         <th colspan="2" class="box-header">Market Stats</th>
                     </tr>
                     <tr>
                         <td><div id="stat_market_price" class="pop-up-anchor">Market Price</div></td>
                         <td class="stat-value">&nbsp;<span class="r_just">14.00</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_stock_float" class="pop-up-anchor">Float</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">20 shares</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_total_short" class="pop-up-anchor">Total Shorted</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">5 shares </span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_int_rate" class="pop-up-anchor">Interest Rate</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ interest_pct }}</span></td>
                    </tr>
                    <tr>
                        <td><div id="stat_dividends" class="pop-up-anchor">Dividends</div></td>
                        <td class="stat-value">&nbsp;<span class="r_just">{{ dividends }}</span></td>
                    </tr>
                   <tr>
                        <td><div id="stat_buy_back" class="pop-up-anchor">Stock Buy Back</div></td>
                       <td class="stat-value">&nbsp;<span class="r_just">{{ buy_back }}</span></td>
                    </tr>
                </table>
            </div>
        </div>

</div>
{#    <div class="page_width">#}
{#        <div class="right-side">#}
{#            {{ next_button }}#}
{#        </div>#}
{#    </div>#}

{#BEGIN - POP-UP ELEMENTS and TEXT#}
<span id="01_intro" class="ins-pop-up front-center on" next="02_div">
    <div class="box-header">Market Period Results</div>
    <p>This is the Market Period Results page.  Here you will learn how the market changed in the
    last trading period and how you performed.</p>
    <p>
    At the end of the market period, all outstanding orders will be used to
        determine the market clearing price. &nbsp;&nbsp; This price will be chosen to maximize the number of shares traded.&nbsp;&nbsp;
        Once the market price is determined, the system will execute as many trades as possible at that price.
    </p>

    <p> Note that if there is more supply than demand then not every SELL order will be completed.
        Likewise, if there is more demand than supply, some BUY orders will not complete.
        Priority in completing orders will be given to the highest BUY price and the lowest SELL price among all
        the orders submitted.</p>
</span>
<span id="02_div" class="ins-pop-up tool-tip-text tt-right" rel="stat_div" next="03_int">
    <p>This is your dividend earnings for this market period.  The dividend will be either {{ dividends }} points
        per share that you own.  If you have shorted STOCK then this amount will be negative indicating that you
        are paying out the dividend.
    </p>
</span>
<span id="03_int" class="ins-pop-up tool-tip-text tt-right" rel="stat_int" next="04_reward">
    <p>This is your interest earnings for this market period.  If you have borrowed CASH then this amount will
        be negative indicating that you are paying out interest.
    </p>
</span>
<span id="04_reward" class="ins-pop-up tool-tip-text tt-right" rel="stat_reward" next="05_next">
    <p>This is the amount you receive for guessing the market price with in {{ forecast_thold | cu }}.
    </p>
</span>
<span id="05_next" class="ins-pop-up tool-tip-text tt-bottom-left" rel="next_btn" next="06_time">
    <p>When you are finished here, click on the Next button to get ready for the next market round or...</p>
</span>
<span id="06_time" class="ins-pop-up tool-tip-text tt-bottom-right dont-add-button" rel="the_time">
    <p>... the page will automatically advance after {{ forecast_time }} seconds.</p>
    <div class="bottom-row">&nbsp;<span class="r_just">{{ next_button }}</span></div>
</span>

{#END - POP-UP ELEMENTS and TEXT#}
{{ endblock }}
