{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you for participating!
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'consent/css/consent_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="top-row">

    <p>For this experiment you are assigned a participation id.  Use this number at the end of the experiment to
        collect your payment.  </p>
    <p>There is no need to write this down, you will see this number again throughout
        the experiment.</p>
    </div>

    <div class="main-block">
        <span class="really_big"> {{ player.participant.label }}</span>
    </div>

    <div class="bottom-row">
        <div class="next-button-div">
            {{ next_button }}
        </div>
    </div>
    </div>
{% endblock %}


