{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'consent/css/consent_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <style>
    .otree-timer {
        display: none;
    }
    
    </style>
    <div class="layout-box">
    <div class="top-row">Thank you for participating!</div>
    <div class="main-block">

    {{ if is_online }}
        <p>Click "Next" to begin the instructions.</p>
    {{ else }}
        <p>For this experiment you are assigned a participation id.  Use this number at the end of the experiment to
            collect your payment.  </p>

        <div class="main-block centered">
            <span class="really_big"> {{ player.participant.label }}</span>
        </div>

        <p>
            In front of you is a blank receipt.  Please fill out that receipt with your name and Hokie Id number
            (if applicable) and write the code above in the "Participant ID" field in the upper left-hand corner.
        </p>
    {{ endif }}
        </div>

    {{ if show_next }}
        <div class="bottom-row">
            <div class="next-button-div">
                {{ next_button }}
            </div>
        </div>
    {{ endif}}
    </div>
{% endblock %}


