{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">
    <link rel="stylesheet" href="{{ static 'consent/css/consent_common.css' }}">
    <script>
        $(window).on('load', function () {
            //Set content size to document size.
            let size_window = function () {
                let wh = $(window).height();
                $('.layout-box').css('height', wh);
            };
            size_window();
            $(window).resize(size_window);

            $('.otree-title').detach();
        });
    </script>
    <div class="layout-box">
    <div class="top-row">
        <div class="page_width">
            &nbsp;
            <span class="left-side">
                    <img class="top-row-img" src="{{ static 'img/vtel.png' }}"/>
            </span>
            <span class="right-side">
                    <img class="top-row-img" src="{{ static 'img/logo_caltech_720.png' }}"/>
            </span>
        </div>
    </div>
    <div class="main-block">
        <div class="squeeze-text">
            <div style="text-align: center">
                <p class="really_big">Welcome to the market experiment!</p>
            </div>
            <div style="text-align: center">
                <p class="very_big"> Please wait for all participants to arrive.</p> <p class="very_big">We will begin shortly.</p>
            </div>
        </div>
    </div>
    {{ if show_next }}
        <div class="bottom-row">
            <div class="next-button-div">
                {{ next_button }}
            </div>
        </div>
    {{ endif}}
    </div>
{% endblock %}


