
/* Layout */
.layout-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px 1fr;
    gap: 10px;
}
.main-block{
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
    font-size: 1.5em;
}

.bottom-row{
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.next-button-div {
    position: absolute;
    right: 30px;
}

/* Layout */
.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.sbs-left{
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
}

.sbs-right{
    grid-column: 2;
    grid-row: 1;
}

/* General appearance */
.example {
    background-color: #b4e4ef;
    border: 4px solid #3c8edc;
    border-radius: 15px;
    padding: 0 20px 10px;
    width: 80%;
    margin: 50px auto 25px;
    font-size: .75em;
}
.example::before{
    position: relative;
    top: -40px;
    content: "EXAMPLE";
    color: #3c8edc;
    font-size: 1.15em;
    font-weight: 500;
}

.example p + ul {
    margin-top: -15px;
    margin-bottom: 0;
}

.instr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.quiz-question {
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 20px;
    border: white solid 3px;
    position: relative;
}

li.correct:before {
    content: '✓';
    font-size: .7em;
    color: white;
    background-color: forestgreen;
    border-radius: 20px;
    padding: 3px 9px;
    position: absolute;
    left: -50px;
}

li.wrong{
    border: 3px solid indianred;
    border-radius: 10px;
    background-color: #fff5f5;
}

li.wrong:before {
    content: '×';
    font-size: .8em;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    position: absolute;
    left: -50px;
}
li.normal:before {
    content: '·';
    color: black;
    font-size: 6px;
    background-color: black;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 3px;
    position: absolute;
    top: 10px;
    left: -50px;
}

