.btn-primary:focus{
    border: 3px dashed lightblue;
}
.btn:hover {
    color: white;
}
.close-button-hover {
    outline: 1px solid tomato;
    animation-name: close-button-hover;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* START instruction pop ups*/
.otree-body{
    width: 95%;
    position: relative;
}

.pop-up-anchor{
    position: relative;
}

.ins-pop-up div{
    margin: 10px;
}

.bottom-row{
    margin: 20px 5px;
}

.ins_tt{
}

.front-center{
    visibility: hidden;
    z-index: 1;
    font-size: 18px;
    font-weight: 350;
    background-color: lightyellow;
    color: #559;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #555599;
    position: absolute;

    width: 60%;
    margin-left: 20%;
    margin-top: 20%;
    left: 0;
    top: 0;
}

.shift-up-a-bit{
    margin-top: 40px;
}

.on {
    visibility: visible;

    animation-name: tt-hover;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.off {
    visibility: hidden;
}

.gray {
    background-color: #aaa;
}

/* END intruction pop ups*/
