/* Otree styles that I hi-jacked*/
.otree-body {
    max-width: 90%;
}
.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

    animation-name: pulse-button;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes pulse-button {
    5% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }
    7% {
        transform: scale(1);
        box-shadow: 0 0 0 0;
   }
    100% {
        transform: scale(1);
    }
}

.btn-look-alike {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px;
    border-radius: 6px;
}

.really_big {
    font-size: 300px;
    font-family: serif;
}

.centered {
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

/*Hijacked this otree style to fit my purpose better*/
.alert {
    position: relative;
    padding: 5px;
    margin-bottom: .7rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

