/* Otree styles that I hi-jacked*/
.otree-body {
    max-width: 95%;
}
.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.btn-primary:not(.no-anim){
    animation-name: pulse-button;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes pulse-button {
    5% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }
    7% {
        transform: scale(1);
        box-shadow: 0 0 0 0;
   }
    100% {
        transform: scale(1);
    }
}

.btn-look-alike {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px;
    border-radius: 6px;
}

.really_big {
    font-size: 300px;
    font-family: serif;
}

.centered {
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

/*Hijacked this otree style to fit my purpose better*/
.alert {
    position: relative;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 1rem;
}


.attention{
    animation-name: attn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes attn {
    30% {
        box-shadow: 0 0 0 0rem rgb(9 132 253 / 40%)
    }
    50%{
        box-shadow: 0 0 0 1rem rgb(9 132 253 / 40%);
    }
    60%{
        box-shadow: 0 0 0 0;
    }
}
 .attention_slow {
     animation-name: attn_s;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     border-radius: 3px;
     padding: 1px;
 }

@keyframes attn_s {
    15% {
        box-shadow: 0 0 0 0rem rgb(9 132 253 / 40%)
    }
    25%{
        box-shadow: 0 0 0 .25rem rgb(9 132 253 / 40%);
        background-color: #88b1fa;
    }
    30%{
        box-shadow: 0 0 0 0;
    }
    100%{
        background-color: white;
    }
}

