/* Otree styles that I hi-jacked*/
.otree-body {
    max-width: 95%;
}
.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.btn-primary:not(.no-anim){
    animation-name: pulse-button;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes pulse-button {
    5% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }
    7% {
        transform: scale(1);
        box-shadow: 0 0 0 0;
   }
    100% {
        transform: scale(1);
    }
}

.btn-look-alike {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px;
    border-radius: 6px;
}

.really_big {
    font-size: 300px;
    font-family: serif;
}

.centered {
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

/*Hijacked this otree style to fit my purpose better*/
.alert {
    position: relative;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 1rem;
}


.attention{
    animation-name: attn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes attn {
    30% {
        box-shadow: 0 0 0 0rem rgb(9 132 253 / 40%)
    }
    50%{
        box-shadow: 0 0 0 1rem rgb(9 132 253 / 40%);
    }
    60%{
        box-shadow: 0 0 0 0;
    }
}
 .attention_slow {
     animation-name: attn_s;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     border-radius: 3px;
     padding: 3px;
 }

@keyframes attn_s {
    15% {
        box-shadow: 0 0 0 0rem rgb(9 132 253 / 40%);
        background-color: white;
    }
    20%{
        box-shadow: 0 0 0 .20rem rgb(9 132 253 / 40%);
        background-color: #88b1fa;
    }
    22%{
        box-shadow: 0 0 0 0;
    }
    100%{
        background-color: white;
    }
}

.r_just {
    position: absolute;
    right: 5px;
    bottom: 0px;
}

/*BEGIN Tooltip Stuff */
.tool-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tool-tip p {
    margin: auto;
    border-bottom: 10px solid transparent;
    width: 90%;
}
.tool-tip ul {
    text-align: left;
    margin: auto;
    width: 90%;
}

/* Tooltip text */
.tool-tip-text {
    font-size: 18px;
    font-weight: 350;
    visibility: hidden;
    width: 500px;
    background-color: lightyellow;
    color: #559;
    padding: 15px;
    border-radius: 10px;
    border: 2px dashed #555599;
    position: absolute;
    z-index: 1;
}
.tt-left {
    top: -60px;
    left: -515px;
}

.tt-right {
    bottom: -20px;
    right: -515px;
}

.tt-bottom-right {
    top: 160%;
    left: -10px;
}

.tt-bottom-left {
    top: 160%;
    right: -10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tool-tip-text {
    visibility: visible;

    animation-name: tt-hover;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes tt-hover {
    0% {
        transform: scale(.8);
        opacity: 0.10;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*Base class for Tool-tip arrow*/
.tool-tip-text::after {
  content: " ";
  position: absolute;

  border-style: solid;
}
/*Position of the arrows*/
.tt-left::after{
    top: 70px;
    left: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-color: transparent transparent transparent #555599;
}
.tt-right::after{
    bottom: 20px;
    right: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-color: transparent #555599 transparent transparent;
}
.tt-bottom-right::after{
    left: 20px;
    bottom: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-color: transparent transparent #555599  transparent;
}
.tt-bottom-left::after{
    right: 20px;
    bottom: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-color: transparent transparent #555599  transparent;
}
/*END Tooltip Stuff */