<style>

</style>

<table class="table table-striped">
    <tr><th>Label</th><th>Show-up</th><th>Bonus</th><th>Total</th></tr>
    {{ for p in players }}
    <tr>
        <td>{{ p.label }}</td>
        <td>{{ session.participation_fee }}</td>
        <td>{{ p.bonus }}</td>
        <td>{{ p.total }}</td>
    </tr>
    {{ endfor }}
</table>

<h3>Summary</h3>
<table class="table">
    <tr>
        <td>Total Payout:</td>
        <td>{{ total }}</td>
    </tr>
    <tr>
        <td>Average Payout:</td>
        <td>{{ average }}</td>
    </tr>

</table>
