{% block title %}
    Thank you for your consideration
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'payment/css/payment_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="top-row">
        <div class="centered">
            <p>You have earned a participation fee of {{ session.participation_fee }}.</p>
        </div>

    </div>

    <div class="main-block centered">
        {{ if is_online }}
            {{ if is_prolific }}
                <div class="centered">Click <a href="{{ prolific_completion_url }}">here</a>
                    to complete the study.</div>
            {{ endif }}
            {{ if is_mturk }}
                <p>Please copy the following code and paste into the HIT page on Amazon Mturk to complete the HIT:</p>
                <p style="font-size: 1.5em"><b>Completion Code:&nbsp; &nbsp; {{ participant.code }}</b></p>
            {{ endif }}
        {{ else }}
            <p>Use the participant id code below to claim your payment.</p>
           <div class="really_big"> {{ player.participant.label }}</div>
            <div class="centered">You are free to leave at any time.   Have a nice day.</div>
        {{ endif }}
    </div>
    </div>
{% endblock %}


