{% block title %}
    Thank you for your participation
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'payment/css/payment_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="top-row">
        <div class="centered">
            <p>Your earnings for this session are as follows:</p>
            <table>
                <tr>
                    <td>Participation Fee</td>
                    <td>Market Payment</td>
                    <td>Forecast Payment</td>
                    {{ if is_online }}
                        <td class="bold-text">Total Payment</td>
                    {{ else }}
                        <td class="bold-text">Total Payment (rounded)</td>
                    {{ endif }}
                </tr>
                <tr>
                    <td>{{ session.participation_fee }}</td>
                    <td> {{ market_bonus }}</td>
                    <td> {{ forecast_bonus }}</td>
                    <td class="bold-text">{{ total_pay }}</td>
                </tr>
            </table>
            
            <div class="centered pay-note">Please fill out a breif post-experiment survey,  <a href="https://forms.gle/9zvG89XF1sAqAE869">here</a> to complete the study.</div>

 
        </div>
    </div>


    </div>
{% endblock %}


