{% block title %}
    Thank you for your participation
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'payment/css/payment_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="top-row">
        <div class="centered">
            <p>Your earnings for this session are as follows:</p>
            <table>
                <tr>
                    <td>Participation Fee</td>
                    <td>Market Payment</td>
                    <td>Forecast Payment</td>
                    {{ if is_online }}
                        <td class="bold-text">Total Payment</td>
                    {{ else }}
                        <td class="bold-text">Total Payment (rounded)</td>
                    {{ endif }}
                </tr>
                <tr>
                    <td>{{ session.participation_fee }}</td>
                    <td> {{ market_bonus }}</td>
                    <td> {{ forecast_bonus }}</td>
                    <td class="bold-text">{{ total_pay }}</td>
                </tr>
            </table>
            
            <div class="centered pay-note">If you came to the experiment from <em>prolific.co</em>, <br>please click <a href="{{ prolific_completion_url }}">here</a> to complete the study.</div>

            {{ if is_online }}
                {{ if total_bonus > 0 }}
                    <p>A bonus payment of {{ total_bonus }} will be made through
                        {{ if is_prolific }}
                            the <em>prolific.co</em> site.</p>
                        {{ endif }}
                        {{ if is_mturk }}
                            Amazon mturk.
                        {{ endif }}
                {{ endif }}

            {{ else }}
                <p>Please remain seated while the attendants prepare your final payout.</p>
                <p>When called to lobby area, please claim your payment with the participant code below.</p>
            {{ endif }}

        </div>
    </div>

    <div class="main-block centered">
        {{ if is_online }}
            <div class="big">&nbsp;</div>
            <span class="big"> Thank you for you participation. </span>
            <div class="big">&nbsp;</div>
            {{ if is_prolific }}
                <div class="centered">Click <a href="{{ prolific_completion_url }}">here</a>
                                to complete the study.</div>
            {{ endif }}
            {{ if is_mturk }}
                <p>Please copy the following code and paste into the HIT page on Amazon Mturk to complete the HIT:</p>
                <p style="font-size: 1.5em"><b>Completion Code:&nbsp; &nbsp; {{ participant.code }}</b></p>
            {{ endif }}
        {{ else }}
            <span class="really_big"> {{ player.participant.label }}</span>
        {{ endif }}
    </div>
    

    </div>
{% endblock %}


