{% block title %}
    Thank you for your participation
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ static 'payment/css/payment_common.css' }}">
    <link rel="stylesheet" href="{{ static 'css/global.css' }}">

    <div class="layout-box">
    <div class="top-row">
        <div class="centered">
            <p>Your earnings for this session are as follows:</p>
            <table>
                <tr>
                    <td>Participation Fee</td>
                    <td>Market Payment</td>
                    <td>Forecast Payment</td>
                    {{ if is_online }}
                        <td class="bold-text">Total Payment</td>
                    {{ else }}
                        <td class="bold-text">Total Payment (rounded)</td>
                    {{ endif }}
                </tr>
                <tr>
                    <td>{{ session.participation_fee }}</td>
                    <td> {{ market_bonus }}</td>
                    <td> {{ forecast_bonus }}</td>
                    <td class="bold-text">{{ total_pay }}</td>
                </tr>
            </table>
            {{ if is_online }}
                {{ if total_bonus > 0 }}
                    <p>A bonus payment of {{ total_bonus }} will be made through the
                    <em>prolific.co</em> site.</p>
                {{ endif }}
            {{ else }}
                <p>Please remain seated while the attendants prepare your final payout.</p>
                <p>When called to lobby area, please claim your payment with the participant code below.</p>
            {{ endif }}

        </div>
    </div>

    <div class="main-block centered">
        {{ if is_online }}
            <span class="big"> Thank you for you participation. </span>
        {{ else }}
            <span class="really_big"> {{ player.participant.label }}</span>
        {{ endif }}
    </div>

    </div>
{% endblock %}


