{{ block title }}Post-experimental Questionnaire{{ endblock }}

{{ block content }}
<p>
    Thank you for deciding to fill in this questionnaire — it takes approximately
    10 minutes to fill in. The answers you will provide herein will solely be used
    for academic research.
</p>
<p>
    It is very important to be as honest as possible and to treat each question
    rigorously, as your participation will directly impact the subsequent research study.
</p>
<p>
    The answers to this questionnaire are strictly confidential. Most of the questions
    are mandatory — you can distinguish them through the red asterisk 
    (<span style="color: red; fontsize:1.5em; font-weight:700;">*</span>) sign.
</p>

{{ next_button }}
{{ endblock }}
